%section.ct-u-padding-top-80{"data-background" => "#1a1a1a"}
  .container
    .row
      .col-md-6.col-md-offset-3.ct-u-padding-bottom-90
        .ct-sectionHeader.ct-sectionHeader--typeLight.ct-sectionHeader--subtitleItalic.text-center
          %h3.ct-sectionHeader-title Фотогалерея
          %h4.ct-sectionHeader-subtitle
            Посмотрите на это чудо техники.
            / %br/
            / Grab some popcorn.
  .ct-gallery.ct-gallery--col5._js-lightGallery{"data-class" => "ct-light-gallery"}
    
    %a.ct-gallery-item{"data-sub-html" => "Множество интерфейсов. ROG Swift PG348Q подключается к источнику видеосигнала по интерфейсу DisplayPort 1.2 или HDMI. Кроме того, он обладает четырьмя портами USB 3.0 для подсоединения периферийных устройств, например клавиатуры и мыши, или подзарядки мобильных гаджетов.", :href => "#{asset_path 'custom/gallery/robust_pd.png' } "}
      %img{:alt => "", :src => "#{asset_path 'custom/gallery/robust_pd_prev.png' }"}/
      .ct-gallery-item-inner
        .ct-u-display-table
          .ct-u-display-tableCell
            .ct-item-zoomer
              %span.ct-item-zoomer-icon
                %i.fa.fa-search
              %h6.ct-item-zoomer-title Множество интерфейсов

    %a.ct-gallery-item{"data-sub-html" => "Безрамочная конструкция. Благодаря отсутствию рамки вокруг экрана модель ROG Swift PG348Q превосходно подходит для мультимониторных конфигураций, обеспечивающих еще большее погружение в виртуальный мир.", :href => "#{asset_path 'custom/gallery/2screen.jpg' } "}
      %img{:alt => "", :src => "#{asset_path 'custom/gallery/2screen_prev.png' }"}/
      .ct-gallery-item-inner
        .ct-u-display-table
          .ct-u-display-tableCell
            .ct-item-zoomer
              %span.ct-item-zoomer-icon
                %i.fa.fa-search
              %h6.ct-item-zoomer-title Безрамочная конструкция

    %a.ct-gallery-item{"data-sub-html" => "Охлаждение. Геймерские сессии могут затянуться на много часов, поэтому в ROG Swift PG348Q реализована эффективная система охлаждения, предотвращающая перегрев устройства даже при самых суровых условиях использования. Причем за счет радиатора увеличенного размера охлаждение осуществляется без вентиляторов. Иными словами, данный монитор работает совершенно бесшумно и не требует регулярного техобслуживания.", :href => "#{asset_path 'custom/gallery/keeping.png' } "}
      %img{:alt => "", :src => "#{asset_path 'custom/gallery/keeping.png' }"}/
      .ct-gallery-item-inner
        .ct-u-display-table
          .ct-u-display-tableCell
            .ct-item-zoomer
              %span.ct-item-zoomer-icon
                %i.fa.fa-search
              %h6.ct-item-zoomer-title Охлаждение
    %a.ct-gallery-item{"data-sub-html" => "Множество интерфейсов.ROG Swift PG348Q подключается к источнику видеосигнала по интерфейсу DisplayPort 1.2 или HDMI. Кроме того, он обладает четырьмя портами USB 3.0 для подсоединения периферийных устройств, например клавиатуры и мыши, или подзарядки мобильных гаджетов.", :href => "#{asset_path 'custom/gallery/178mo.jpg' } "}
      %img{:alt => "", :src => "#{asset_path 'custom/gallery/178mo_prev.png' }"}/
      .ct-gallery-item-inner
        .ct-u-display-table
          .ct-u-display-tableCell
            .ct-item-zoomer
              %span.ct-item-zoomer-icon
                %i.fa.fa-search
              %h6.ct-item-zoomer-title Множество интерфейсов
    %a.ct-gallery-item{"data-sub-html" => "Панорамная картина. Изогнутая поверхность означает, что каждая точка экрана находится на примерно одинаковом расстоянии от глаз пользователя, и это обеспечивает потрясающий эффект присутствия в компьютерных играх и при просмотре фильмов.", :href => "#{asset_path 'custom/gallery/horizons.png' } "}
      %img{:alt => "", :src => "#{asset_path 'custom/gallery/horizons_prev.png' }"}/
      .ct-gallery-item-inner
        .ct-u-display-table
          .ct-u-display-tableCell
            .ct-item-zoomer
              %span.ct-item-zoomer-icon
                %i.fa.fa-search
              %h6.ct-item-zoomer-title Панорамная картина