%section#press.ct-u-padding-top-75.ct-u-padding-bottom-60{"data-background" => "#f8f8f8"}
  .container
    .row
      .col-md-6.col-md-offset-3.ct-u-padding-bottom-70
        .ct-sectionHeader.ct-sectionHeader--typeDarken.ct-sectionHeader--subtitleItalic.text-center
          %h3.ct-sectionHeader-title Пресса о данном мониторе
          %h4.ct-sectionHeader-subtitle Почитайте ведущих российских и зарубежных экспертов, которые отзываются о данном мониторе.
    .row
      .col-sm-4.ct-u-padding-top-25
        %img.img-responsive{:alt => "", :src => "#{asset_path 'custom/press/icon-laure.png' }"}/
      .col-sm-8
        .ct-js-slick.ct-dots--type1.ct-dots--positionBottomCenter.ct-dots--motive{"data-autoplay" => "true", "data-dots" => "true", "data-items-lg" => "4", "data-items-md" => "3", "data-items-sm" => "2", "data-items-xs" => "2"}
          .item
            %a.ct-brandBox{:href => "https://3dnews.ru/930568", target: "_blank"}
              %figure
                %img{:src => "#{asset_path 'custom/press/3dnews_logo_color.jpg' }"}/
                %figcaption 3d news
            %a.ct-brandBox{:href => "http://www.hardwareluxx.ru/index.php/artikel/hardware/monitore/37402-asus-rog-pg348q-100-hz-curved-screen-.html", target: "_blank"}
              %figure
                %img{:src => "#{asset_path 'custom/press/d83HYdz4_400x400.jpg' }"}/
                %figcaption Hardwareluxx
          .item
            %a.ct-brandBox{:href => "https://www.youtube.com/watch?v=X8DCsiS9x1k", target: "_blank"}
              %figure
                %img{:src => "#{asset_path 'custom/press/youtube_PNG18.png' }"}/
                %figcaption Канал "Хороший выбор!"
            %a.ct-brandBox{:href => "https://www.youtube.com/watch?v=VtQy5GiZTts", target: "_blank"}
              %figure
                %img{:src => "#{asset_path 'custom/press/youtube_PNG18.png' }"}/
                %figcaption Канал F.ua
          .item
            %a.ct-brandBox{:href => "http://www.ign.com/articles/2018/01/24/asus-rog-swift-pg348q-curved-gaming-monitor-review", target: "_blank"}
              %figure
                %img{:src => "#{asset_path 'custom/press/Ign-logo.png' }"}/
                %figcaption IGN (английский сайт)
            %a.ct-brandBox{:href => "http://greentechreviews.ru/2016/04/13/obzor-igrovogo-monitora-asus-rog-swift-pg348q/", target: "_blank"}
              %figure
                %img{:src => "#{asset_path 'custom/press/gtr_logo.jpg' }"}/
                %figcaption Greentechreviews
          .item
            %a.ct-brandBox{:href => "https://www.trustedreviews.com/reviews/asus-republic-of-gamers-swift-pg348q", target: "_blank"}
              %figure
                %img{:src => "#{asset_path 'custom/press/tr_logo.png' }"}/
                %figcaption Trusted Reviews (английский сайт)
            %a.ct-brandBox{:href => "https://itwriter.ru/2016/10/05/asus-rog-swift-pg348q/", target: "_blank"}
              %figure
                %img{:src => "#{asset_path 'custom/press/Editors_Choise-768x591.png' }"}/
                %figcaption IT Writer